<div class="ui segment js-segment-settings">
  <div class="ui grid">
    <div class="four wide stretched column">
      <div class="ui secondary vertical pointing menu">
        <a class="item" ng-class="{active:form[0]}" ng-click="changeForm(0)">系统设置 </a>
        <a class="item" ng-class="{active:form[1]}" ng-click="changeForm(1)">我的信息 </a>
        <a class="item" ng-class="{active:form[2]}" ng-click="changeForm(2)">上传导出 </a>
        <a class="item" ng-class="{active:form[3]}" ng-click="changeForm(3)">网站说明 </a>
        <a class="item" ng-class="{active:form[4]}" ng-click="changeForm(4)">全局书签 </a>
        <a class="item" ng-class="{active:form[6]}" ng-click="changeForm(6)">请喝咖啡 </a>
      </div>
    </div>
    <div class="twelve wide stretched column">
      <form class="ui form" ng-show="form[0]">
        <h4 class="ui horizontal divider header">重置密码</h4>
        <div class="required field">
          <label>原密码</label>
          <input type="password" placeholder="" ng-model="passwordOrgin" />
        </div>
        <div class="required field">
          <label>新密码</label>
          <input type="password" placeholder="" ng-model="passwordNew1" />
        </div>
        <div class="required field">
          <label>确认密码</label>
          <input type="password" placeholder="" ng-model="passwordNew2" />
        </div>
        <button class="ui button" type="submit" ng-click="resetPassword()">重置密码</button>
      </form>
      <div class="ui four statistics" style="margin-top: 60px; margin-left: -80px" ng-show="form[1]">
        <div class="statistic">
          <div class="text value">
            {{user.createdAt.substring(0, 4)}}<br />
            {{user.createdAt.substring(5, 10)}}
          </div>
          <div class="label">注册时间</div>
        </div>
        <div class="statistic">
          <div class="text value">
            {{user.lastLogin.substring(0, 4)}}<br />
            {{user.lastLogin.substring(5, 10)}}
          </div>
          <div class="label">最近登陆</div>
        </div>
        <div class="statistic">
          <div class="value">
            <i class="tags icon"></i>
            {{ tagCnt }}
          </div>
          <div class="label">分类数目</div>
        </div>
        <div class="statistic">
          <div class="value">
            <i class="bookmark icon"></i>
            {{ bookmarkCount }}
          </div>
          <div class="label">书签数目</div>
        </div>
      </div>
      <form class="ui form" ng-show="form[2]">
        <h2 class="ui dividing header">上传浏览器书签到系统</h2>
        <div id="fileuploader" style="min-width: 100px">点我上传</div>
        <div class="ui container js-p-info">
          <p>注意事项</p>
          <p>1、导入的方法是将浏览器里面收藏的网站导出HTML文件。然后将导出的HTML文件点击上面的<code>Upload</code>按钮上传到服务器。目前只测试过谷歌浏览器跟IE浏览器的书签导入。但是因为浏览器的标签是可以支持互相导入的，我觉得应该是没问题的。如果不成功，可以先将其他浏览器的书签导入谷歌浏览器再导出。</p>
          <p>2、谷歌浏览器书签导出文件方法：<a href="http://jingyan.baidu.com/article/0bc808fc2d3b841bd485b9fb.html" target="_blank">chrome浏览器书签导出</a></p>
          <p>3、IE浏览器书签导出文件方法(里面含有导入的方法，请无视)：<a href="http://jingyan.baidu.com/article/0bc808fc6a5bc31bd485b91b.html" target="_blank">IE浏览器收藏夹的导入</a></p>
          <p>4、导入的文件不能超过10M</p>
          <p>5、如果重复导入，新的会覆盖旧的信息。</p>
          <p>6、注意：从浏览器导入进系统的书签，没有浏览器目录的树形结构，在浏览器没有目录的标签，统统转入系统未分类目录下面。</p>
        </div>
        <h2 class="ui dividing header">导出为浏览器书签</h2>
        <button class="fluid ui button" ng-class="{loading : loading}" ng-click="exportBookmark()">导出书签</button>
        <p ng-if="href">如果没有自动下载，请点击此<a ng-href="{{href}}" target="_blank">{{href}}</a>进行下载，十分钟有效！若已下载，则此下载链接无效！</p>
      </form>
      <div class="ui container js-p-info" ng-show="form[3]">
        <h3 class="ui dividing header">为什么要做个网络书签</h3>
        <p>每个浏览器上面都会有个书签可以供你收藏你以后可能还要用到的网址。但是你可能还是会遇到下列问题：</p>
        <p>1、如果你用过Chrome和搜狗快速浏览器的标签收藏功能，你一定觉得很烂。</p>
        <p>2、我们需要的是一个tag化的整理，而不是只有一个分类。</p>
        <p>3、除了tag化，扁平化。我们还是需要层级的整理</p>
        <p>4、如果同一个网站在别人整理后，来给我推荐智能化标签就更好了。</p>
        <p>5、Raindrop和linnk的标签收藏功能很赞。但是依然有很多问题：比如 智能化标签不准，收费。</p>
        <p>本应用是在前人的基础上，根据我的想法进一步的二次开发，前端和后台的代码都有开放。后续还有推荐系统。</p>
        <h3 class="ui dividing header">主要功能（二次开发）</h3>
        <p>1、多tag。(完成)</p>
        <p>2、tag的冷启动推荐(完成)</p>
        <p>3、根据用户推荐tag(未完成)</p>
        <p>4、层级分类(未完成)</p>
        <p>5、更多的想象空间，比如可以根据用户的分类来进行搜索推荐(未完成)</p>
        
        <h3 class="ui dividing header">联系方式</h3>
        <p>QQ：956952610</p>
        <h3 class="ui dividing header">开发备忘(非开发人员请无视)</h3>
        <p>1、该代码我托管在Github上<a href="https://github.com/zhouyijiaren/my-bookmark" target="_blank">my-bookmark</a>。该地址有文件夹详细说明以及部署步骤。git地址：git@github.com:zhouyijiaren/my-bookmark.git。</p>
        <img class="ui centered fluid image" src="./images/screenshot.gif" />
      </div>
      <div class="ui container js-p-info" ng-show="form[4]">
        <p>功能说明：可在该页面，设置全局快速打开的链接。快捷键只能是字母a ~ z，字母不区分大小写。</p>
        <p>
          以下几个系统默认使用的按键无法使用：<br />
          <span ng-repeat="(key, value) in forbidQuickKey">{{key}}：{{value}}<br /></span>
        </p>
        <p>如果你想更换快捷链接，你需要先删除再添加。</p>
        <div class="ui divider"></div>
        <div class="ui form">
          <div class="inline fields">
            <div class="five wide field">
              <label style="min-width: 55px">快捷键：</label>
              <input type="text" placeholder="请按相应的快捷键" ng-model="key" ng-keypress="quickKey($event.key)" />
            </div>
            <div class="nine wide field">
              <label style="min-width: 66px">网站地址：</label>
              <input type="text" placeholder="请输入你需要快捷打开的网站地址" ng-model="url" />
            </div>
            <div class="two wide field">
              <div class="ui green button" ng-click="addQuickUrl()">确定</div>
            </div>
          </div>
        </div>
        <div class="ui divider"></div>
        <table class="ui selectable sortable celled table js-quick-url-table">
          <thead>
            <tr>
              <th style="width: 80px">快捷键</th>
              <th>网站地址</th>
              <th style="width: 45px">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(key, value) in quickUrl">
              <td>{{key}}</td>
              <td>
                <img class="ui ui middle aligned tiny image" ng-src="https://favicon.lucq.fun/?url={{value}}" err-src="./images/default.ico" style="width: 16px; height: 16px" />
                <span>{{value}}</span>
              </td>
              <td>
                <img class="ui mini spaced image" style="width: 16px; height: 16px; margin: 0 1px" ng-src="./images/delete.png" ng-click="delUrl(key)" title="删除书签" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="ui container js-p-info" ng-show="form[6]">
        <h3 class="ui dividing header">赞赏说明</h3>
        <p>1、如果你觉得我的这个系统帮助到了你，那请我喝杯咖啡吧。</p>
        <p>2、赞赏转账的时候，请留言添加“书签赞赏”这四个汉字。</p>
        <h3 class="ui dividing header">赞赏二维码</h3>
        <div class="ui grid">
          <div class="one wide column"></div>
          <div class="five wide column">微信<img class="ui rounded left floated medium image" src="./images/wx1.png" /></div>
          <div class="two wide column"></div>
          <div class="five wide column">支付宝<img class="ui rounded right floated medium image" src="./images/zfb1.png" /></div>
          <div class="one wide column"></div>
        </div>
      </div>
    </div>
  </div>
</div>
